@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;

    --accent: 210 40% 98%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;

    --sidebar-background: 221 83% 53%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 221 83% 53%;
    --sidebar-accent: 221 83% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 221 83% 48%;
    --sidebar-ring: 0 0% 100%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 28% 17%;
    --muted-foreground: 217 11% 65%;

    --accent: 215 28% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 221 83% 53%;
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 221 83% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 221 83% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 22%;
    --sidebar-ring: 221 83% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
